{
  "env": {
    "node": true, // this is the best starting point
    "browser": true, // for react web
    "es6": true // enables es6 features
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "global-require": "off",
    "prefer-destructuring": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-mixed-operators": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off"
  }
}
